<div class="banner_show" style="background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.43)), url(<%= @pitch.picture %>)">
<h2> <%= @pitch.name %> </h2>
</div>
<div>
  <div class="text-center">
    <h2>Your data</h2>
  </div>
  <div class="container">
    <div>
      <h3>Total <%= @pitch.price %> €</h3>
    </div>
    <div>
      <%= simple_form_for :booking, url: pitch_bookings_path(@pitch), method: "POST", html: { class: 'form-inline' } do |f| %>
      <%= f.input :start_date, as: :string, input_html: {class: "datepicker"}  %>
      <%= f.input :end_date, as: :string, input_html: {class: "datepicker", id: "secondRangeInput"} %>
      <%= f.submit "Book", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
