<div class="background" style="height: 100vh">
<% if user_signed_in? %>

  <div class="container">

      <%= simple_form_for :search, url: pitches_path, method: "GET", html: { class: 'form-inline' } do |f| %>
        <%= f.input :address, label: false, input_html: {size: 50} %>
        <%= f.submit "Search", class: "button", style: "margin-left: 25px;" %>
      <% end %>
  </div>

  <div class="container1">
    <h1 class="h1">Your Bookings</h1>
  <div>

    <div class="cards-home">
      <% @bookings.each do |booking| %>
        <% if policy(booking).index? %>

          <div class="card-home">

            <img src="<%= booking.pitch.picture %>" class="card-img1" alt="">
            <div class="card-home-info">
              <%= booking.pitch.name %>
              <div class="home-link">
                <p><%= booking.pitch.name %> <%= link_to '<i class=“fas fa-trash-alt”></i>’.html_safe, booking_path(booking), method: :delete %></p>
              </div>
            <% end %>
            </div>
          </div>
        <% end %>
    </div>
  </div>
  </div>



<% else %>

  <%= render "shared/background_image" %>

  <div class="container">
    <div class="header-landing">
      <h1>No idea where to play football?</h1>
      <h2>Bock your pitch with just few clicks!</h2>
    </div>
    <%= simple_form_for :search, url: pitches_path, method: "GET", html: { class: 'form-inline' } do |f| %>
      <%= f.input :address, label: false, input_html: {size: 50} %>
      <%= f.submit "Search", class: "button", style: "margin-left: 25px;" %>
    <% end %>
  </div>

<% end %>
</div>

