<% if user_signed_in? %>


<!-- here show all bookings and implement the website, home if sign in -->
  <!-- Here just for test purpose later in the header -->
  <div class="container">

      <%= simple_form_for :search, url: pitches_path, method: "GET", html: { class: 'form-inline' } do |f| %>
        <%= f.input :address, label: false, input_html: {size: 50} %>
        <%= f.submit "Search", class: "button", style: "margin-left: 25px;" %>
      <% end %>
  </div>

  <div class="container">
    <h1>All Bookings</h1>
  <tbody>
    <% @bookings.each do |booking| %>
    <tr>
      <div class="card-home">
        <img src="<%= booking.pitch.picture %>" class="card-img-top" alt="...">
        <div class="card-body">
          <% if policy(booking).index? %>
        <td><%= booking.pitch.name %> <%= link_to "See more", pitch_booking_path(booking.pitch_id, booking) %></td>
        <td><%= booking.pitch.name %> <%= link_to "Delete", booking_path(booking), method: :delete %></td>
        <% end %>
        </div>
      </div>
     <% end %>
    </tr>
  </tbody>
  </div>



<% else %>

  <%= render "shared/background_image" %>

  <div class="container">
    <div class="header-landing">
      <h1>No idea where to play football?</h1>
      <h2>Bock your pitch with just few clicks!</h2>
    </div>
    <%= simple_form_for :search, url: pitches_path, method: "GET", html: { class: 'form-inline' } do |f| %>
      <%= f.input :address, label: false, input_html: {size: 50} %>
      <%= f.submit "Search", class: "button", style: "margin-left: 25px;" %>
    <% end %>
  </div>

<% end %>

