<div class="background" style="height: 100vh">
<% if user_signed_in? %>

  <div class="container">

      <%= simple_form_for :search, url: pitches_path, method: "GET", html: { class: 'form-inline' } do |f| %>
        <%= f.input :address %>
        <%= f.submit "Search", class: "btn btn-primary" %>
      <% end %>
  </div>

  <div class="container1">
    <h1 class="h1">Your Bookings</h1>
  <div>

    <div class="cards-home">
      <% @bookings.each do |booking| %>
        <% if policy(booking).index? %>

          <div class="card-home">

            <img src="<%= booking.pitch.picture %>" class="card-img1" alt="">
            <div class="card-home-info">
              <%= booking.pitch.name %>
              <div class="home-link">
                <%= link_to "See more", pitch_booking_path(booking.pitch_id, booking) %>
              </div>
            <% end %>
            </div>
          </div>
        <% end %>

    </div>
  </div>
  </div>



<% else %>

  <%= render "shared/background_image" %>

  <div class="container">

    <%= simple_form_for :search, url: pitches_path, method: "GET", html: { class: 'form-inline' } do |f| %>
      <%= f.input :address %>
      <%= f.submit "Search", class: "btn btn-primary" %>
    <% end %>
  </div>

<% end %>
</div>

